<div class="new-assignment">
  <%= simple_form_for @to_do_list, remote: true do |f| %>
    <%= f.simple_fields_for :assignments, @to_do_list.assignments.build do |assignments_form| %>
      <%= assignments_form.input :name %>
      <%= assignments_form.input :description %>
    <% end %>
    
    <button class='btn btn-success add-assignment'> Add </button>
    <button type='button' class='close' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
  <% end %>
</div>
