<div class="row">
  <div class="col-md-4">

    <div class="section-header">
      <h2> Listas </h2>
    </div>

  </div>
</div>

<div class="section-content">

  <div class="lists-container">
    <% unless @to_do_lists.empty? %>
      <%= @to_do_lists.each_slice(4) do |lists| %>
        <div class="row lists-row">
          <% lists.each do |list| %>

            <% if can? :show, list %>
              <div class='col-md-3'>
                <div class="list-container">
                  <div class="list-title">
                    <b> <%= link_to list.name, to_do_list_path(list) %> </b>
                  </div>
                </div>
              </div>
            <% end %>

          <% end %>
        </div>
      <% end %>
    <% else %>
      <p> Nenhuma lista encontrada. </p>
    <% end %>
  </div>

  <% if can? :create, @user.to_do_lists.build %>
    <div class="row">
      <div class="col-md-3">
        <%= link_to "Criar lista", new_user_to_do_list_path(current_user), class: "btn btn-lg btn-success" %>
      </div>
    </div>
  <% end %>

</div>
