<div class="row">
  <div class="col-md-3">
    <div class="section-header">
      <h2> Nova Lista </h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="section-content">
      <%= render "form" %>
    </div>
  </div>
</div>
