<div class="row">
  <div class="col-md-4">

    <div class="section-header">
      <h2> Listas Públicas </h2>
    </div>

  </div>
</div>

<div class="section-content">
  <table class="data-table" id="public-lists-table">
    <thead>
      <tr>
        <th> Nome </th>
        <th> Autor </th>
        <th> Criada em </th>
      </tr>
    </thead>

    <tbody>
      <% @to_do_lists.each do |list| %>  
        <tr>
          <td> <%= link_to list.name, to_do_list_path(list) %> </td>
          <td> <%= list.user.email %> </td>
          <td> <%= I18n.l(list.created_at.to_date) %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>