<div class="row">
  <div class="col-md-3">
    <div class="section-header">
      <h2> <%= @to_do_list.name %> </h2>
    </div>
  </div>
</div>

<div class="section-content">
  <div class="row">
    <div class="col-md-4">
      <%= link_to "Editar lista", edit_to_do_list_path(@to_do_list), class: "btn btn-primary" %>
      <%= link_to "Apagar lista", to_do_list_path(@to_do_list), method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
</div>
