@import "bootstrap-sprockets";
@import "bootstrap";

@import "jquery.dataTables";

@import "devise";
@import "to_do_lists";

// Flashes
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.section-content {
  padding-top: 20px;
}

// Nav

nav.navbar-default{
  background-color: #512DA8;

  .navbar-brand {
    color: #fff;
  }

  .navbar-nav > li > a {
    color: #fff;
  }
}