// Place all the styles related to the ToDoLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.lists-container {
  padding-top: 20px;

  .lists-row {
    padding-bottom: 15px;
  }
}

.list-container {
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  height: 100px;
  width: 100%;
  text-align: center;
  background-color: #512DA8;

  .list-title {
    position: relative;
    top: 35%;
    font-size: 17px;
  }

  .list-title > a {
    color: #fff;
  }
}

.list-buttons-container {
  padding-top: 50px;
}

.assignments-container {

  .assignments-list {
    list-style: none;
    padding-left: 0px;

    .assignment-entry{
      border-bottom-style: solid;
      border-width: 1px;
      margin-bottom: 25px;

      .btn {
        margin-left: 8px;
      }
    }
  }

  .new-assignment { 
    margin-bottom: 15px;
    padding: 5px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);

    .new-assignment-buttons {
      position: relative;
      right: 0;
    }

    .close-new-assignment-button-container {
      position: relative;
      top: -10px;
    }
  }

  .close {
    float: none !important;
    font-size: 35px !important;
    padding-left: 5px;
    position: relative;
    top: 7px;
  }
}

.favorite-button-container {
  padding-top: 20px;
}